# {{ short_project_name }}

Generated via copier from github.com/catalystsquad/copier-go-cobra-app

In order to run this code you will need the following on your path:
- buf
- Go 1.21+
- Node 18+ (and npm of course)
- Java of some kind
- bash, which you should just have anyway
